canvas {
    border: 1px solid rgb(157, 0, 255);
    box-shadow: 15px 15px rgb(111, 0, 115);
    margin-top: 10px;
}   

body {
    background-color: rgb(72, 68, 89);
}

h1{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: left;
    text-transform: uppercase;

    position: relative;
    top: 0px; 
    left: 300px;
    display: block;
}

img{
    position: relative;
    top: 0px; 
    left: 0px;
    display: block;
}